<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riteshknayak.masterq"
    android:versionCode="33"
    android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MasterQ"
        tools:ignore="AllowBackup">
        <activity android:name=".TestActivity"></activity>
        <activity android:name=".ResultActivity" />
        <activity android:name=".TopicActivity" />
        <activity android:name=".TopicsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".QuizActivity" />
    </application>

</manifest>